/*@import url("//hello.myfonts.net/count/2eeccb");*/
@font-face {font-family: 'MuseoSans-300';src: url('2EECCB_1_0.eot');src: url('2EECCB_1_0.eot?#iefix') format('embedded-opentype'),url('2EECCB_1_0.woff2') format('woff2'),url('2EECCB_1_0.woff') format('woff'),url('2EECCB_1_0.ttf') format('truetype');}
@font-face {font-family: 'MuseoSans-700';src: url('2EECCB_0_0.eot');src: url('2EECCB_0_0.eot?#iefix') format('embedded-opentype'),url('2EECCB_0_0.woff2') format('woff2'),url('2EECCB_0_0.woff') format('woff'),url('2EECCB_0_0.ttf') format('truetype');}
@font-face {font-family: 'MuseoSans-500';src: url('2EECCB_3_0.eot');src: url('2EECCB_3_0.eot?#iefix') format('embedded-opentype'),url('2EECCB_3_0.woff2') format('woff2'),url('2EECCB_3_0.woff') format('woff'),url('2EECCB_3_0.ttf') format('truetype');}

* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
}

/*--- font hack ---*/

body * { font-family: 'MuseoSans-500', Arial, Helvetica, Sans-Serif; font-size: 102%; }

/*--- misc ---*/
a,
div.toc h3,
h2.groupheader {
  color: #307696;
  text-shadow: none;
  background-image: none;
}

/*--- top navigation bar ---*/
.sm-dox,
.sm-dox li,
.sm-dox a,
.sm-dox a:hover,
.sm-dox a:active,
.sm-dox a.highlighted {
  background: none;
  background-image: none;
  font-weight: lighter;
  text-shadow: none;
}

.sm-dox a {
  color: #fff;
  font-size: 102%;
}

.sm-dox a:hover,
.sm-dox a:active {
  color: #eb2529;
  font-size: 102%;
}

#main-nav {
}

#main-menu {
  background-image: url(ionic-logo.svg);
  background-size: 40px 40px;
  background-position: 30px 10px;
  background-repeat: no-repeat;
  background-color: black;
  padding: 10px;
  padding-left: 80px;
}

#titlearea {
  width: 120px;
  height: 0px;
  float: left;
  border: none;
  visibility: hidden;
}


#MSearchBox {
  /*margin-top: 16px;*/
  right: 30px;
  background: none;
}

#MSearchBox .left,
#MSearchBox .right,
#MSearchField {
  background: none;
}

.MSearchBoxActive #MSearchField {
  color: #999;
}

#MSearchSelect {
  width:0px; 
  height:0px; 
  padding: 8px; 
  margin-top: 3px;
  background: url(mag_sel.png);
  background-repeat: no-repeat;
}

#MSearchField {
  margin-left: 30px;
}

#MSearchResultsWindow {
  z-index: 99999;
}

#MSearchCloseImg {
 width:0px; 
  height:0px; 
  padding: 8px; 
  margin-top: 3px;
  background: url(close.png);
  background-repeat: no-repeat;
}


/*--- header ---*/

div.header {
  border-bottom: 1px solid #ccc;
  background: #f7f7f7;
  width: 100%;
  height: 80px;
}

div.summary {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 30px;
}

div.headertitle {
  position: relative;
  padding: 0 30px;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 30px;
}

div.summary + div.headertitle {
  width: 50%;
}

.title {
  font-size: 24px;
  color: #222;
  font-weight: 600;
  letter-spacing: -0.03em;
  margin: 0;
}

div.contents {
  margin: 30px 30px;
}

.toc + div.textblock {
  margin-right: 300px;
}

div.toc {
  position: fixed;
  right: 0;
  background: none;
  padding: 0 0 0 25px;
  border-width: 0 0 0 2px;
  border-radius: 0px;
  border-color: #eee;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.03em
}

/*-------- related page -----------*/

.directory td.entry {
  padding: 10px 15px 10px 0;
  vertical-align: top;
}

.directory td.desc {
  padding: 10px 10px 10px 15px;
}

div.directory,
h2.groupheader {
  border-color: #ccc;
}

.directory tr.even,
.mdescLeft,
.mdescRight,
.memItemLeft,
.memItemRight,
.memTemplItemLeft,
.memTemplItemRight,
.memTemplParams {
  background: #fff;
}

.mdescLeft,
.mdescRight,
.memItemLeft,
.memItemRight,
.memTemplItemLeft,
.memTemplItemRight,
.memTemplParams {
  padding: 5px;
}

.memSeparator {
  border-color: #eee;
}

.memitem {
  margin-bottom: 30px;
}
.memproto, dl.reflist dt {
  background: #f7f7f7;
  box-shadow: none;
  text-shadow: none;
  border-color: #ccc;
}

.memdoc, dl.reflist dd {
  background-image: none;
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
  box-shadow: none;
}

/*--- qindex ---*/

div.qindex, div.navtab {
  background-color: #fff;
  border-color: #ccc;
  border-radius: 4px;
  text-align: left;
  padding: 2px 10px;
}

/*-- icon --*/

a.qindex {
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  padding: 0 5px;
}

div.ah, span.ah {
  background-image: none;
  box-shadow: none;
  border-radius: 4px;
  border-width: 0;
  background-color: #222;
}

.icona {
  height: auto;
}

.icon {
  background-color: #307696;
  font-size: 10px;
  width: 15px;
  height: 15px;
  line-height: 17px;
}


/*--- fragment ---*/

div.fragment,
div.line,
a.code,
span.comment,
span.stringliteral {
  font-family: monospace, courier;
}

div.fragment {
  padding: 10px;
  margin: 4px 8px 4px 2px;
  background-color: #FBFCFD;
  border: 1px solid #C4CFE5;
  border-radius: 2px;
}



.image
{
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
}


/*--- tables ---*/

table.ionic
{
	padding: 0px;
	border-spacing: 0px;
    border-collapse: collapse;
	margin: 0px;
}

table.ionic th,
table.ionic tr,
table.ionic td
{
    border: 1px solid #CCCCCC;
    vertical-align: top;
}

table.ionic th
{
	padding: 8px;
	background-color: #F0F0F0;
	color: #303030;
}

table.ionic td
{
	padding: 8px;
}
